@font-face{
    font-family:'NanumSquare_acR';
    src:url('./../../ttf/NanumSquare_acR.ttf');
}


.ProfileContainer{
    width: 500px;
    background-color: #FFB4AC;  
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: NanumSquare_acR;
    padding: 20px;
    font-size:15px;

}
.ProfileTop{
    margin-bottom:10px;
    font-weight: bolder;
}
.ProfileCenter{
    display : flex;
    flex-direction:row;
    align-items : space-between;
    font-weight: bolder;
}
.ProfileImgAndName{
    display : flex;
    flex-direction:column;
    align-items:center;
}
.ProfileOthers{
    color:#454545;
    font-weight: normal;
}
.ProfileBtn{
    background: linear-gradient(to bottom, #FF9A51, #FF6994);
    border:none;
    border-radius:10px;
    color : white;
    padding-left : 10px;
    padding-right : 10px;
}