@font-face{
    font-family:'NanumSquare_acR';
    src:url('./../../ttf/NanumSquare_acR.ttf');
}


.ProfileContainer{
    width:10%;
    background-color: #FFB4AC;  
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: NanumSquare_acR;
    padding: 2%;
    font-size:13px;

}
.ProfileTop{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
}
.ProfileCenter{
    width:100%;
}
.ProfileImgAndName{
    height:20%;
    display : flex;
    flex-direction:column;
    align-items:center;
    font-weight:bolder;
}
.ProfileOthers{
    color:#454545;
    font-weight: normal;
    display:flex;
    flex-direction:column;

    justify-content: space-around;
    font-size:80%;
}
.ProfileBtn{
    background: linear-gradient(to bottom, #FF9A51, #FF6994);
    border:none;
    border-radius:10px;
    color : white;
    padding-left : 10px;
    padding-right : 10px;
}
.introduce{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.scrollBar::-webkit-scrollbar{
    display:none;
}
.scrollBar{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}