.reportedlist{
    margin-left: 40%;
    font-size: large;
    margin-top: 5%;
}

.header{
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: antiquewhite;
    border-radius: 10px;
    height: 50px;
    padding-top: 1.3%;
}
.rowbutton{
    border: 0;
    outline: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
    
}
.rowbutton:active{
    background-color: rgb(248, 244, 204);
    border-radius: 20px;
    
}

.addbtn{
    border: none;
    background-color: lightblue;
    color: white;
    font-family:"NanumSquare_acR";
    font-size: 25px;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}


.datalist{
    margin-top: 0.5%;
    font-size: large;
    font-weight: bold;
    font-family:"NanumSquare_acR";
    margin-left: 1%;
}
.datanum{
    margin-right: 1%;

}