.FilteredBy {
  font-family: NanumSquare_acR;
  background-color: transparent;
  border-color: #9a7d7d;
  color: #8f6f6f;
  border: 1px solid;
  border-radius: 10px;
  width: 100px;
  height: 35px;
}
