@font-face {
  font-family: "NanumSquare_acR";
  src: url("../ttf/NanumSquare_acR.ttf");
}
/*
background-image: url("../img/Intro이미지.png");
*/
.signinclass{
  margin-bottom: 20%;
}
.IntroContainer {
  background-color: #f6cdcd;
  border: 5px black;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 150px;
  border-radius: 10px;
  margin-bottom: 150px;
}
.LogInOutBtn {
  top: 5%;
  left: 90%;
  width: 200px;
  height: 50px;
  font-family: NanumSquare_acR;
  border-radius: 10px;
  background-color: #dd9998;
  color: white;
  border: none;
  margin-top: 350px;
  margin-left: 690px;
}
.MiddleBtn {
  position: absolute;
  left: 45%;
  top: 60%;
  width: 200px;
  font-family: NanumSquare_acR;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 10px;
  background: linear-gradient(to bottom, #e7a97c, #ff6994);
}
.diva{
  float: right;
  position: fixed;
  bottom: 1%;
  margin-left: 95%;
  font-family: 'Jua';
  color: white;
}
.divad{
  color: white; text-decoration: none;
}
.divad:visited { color: black; text-decoration: none;}
.divad:hover { color: black; text-decoration: none;}

.signinclass{
  width: 350px;
  padding-top: 300px;
  margin-left: 40%;
}