@font-face {
  font-family: "NanumSquare_acR";
  src: url("../ttf/NanumSquare_acR.ttf");
}
.font{
  font-family: NanumSquare_acR;
}
.profile {
  display: flex;
  align-items: center;
}
.profileModal {
  background-color: #ffb4ac;
}
.makeRoomBtn {
  font-family: NanumSquare_acR;
  width:100px;
  height:30px;
  background: linear-gradient(to bottom, #ff9a51, #ff6994);
  border: none;
  border-radius: 10px;
  color: white;
}
