@font-face{
  font-family:'NanumSquare_acR';
  src:url('../ttf/NanumSquare_acR.ttf');
}


.profile {
  display: flex;
  align-items: center;
}
.profileModal {
  background-color: #ffb4ac;
}
.makeRoomBtn{
  font-family: NanumSquare_acR;
  width:8%;
  height:5%;
  background: linear-gradient(to bottom, #FF9A51, #FF6994);
  border:none;
  border-radius:10px;
  color : white;
}