@font-face{
    font-family:'NanumSquare_acR';
    src:url('./../../ttf/NanumSquare_acR.ttf');
}
.MeetingRoom{
    font-family: NanumSquare_acR;
    background-color: white;
    display : flex;
    flex-direction : row;
    justify-content: space-around;
    border-radius: 10px;
    padding:15px;
    margin:15px;
}

.joinBtn{
    font-weight: bold;
    margin-bottom:10%;
    margin-left:20%;
    border-radius: 15px;
    width:60%;
    color:white;
    background-color:#68D2FF;
    border:none;
}