@font-face {
    font-family: "NanumSquare_acR";
    src: url("../../ttf/NanumSquare_acR.ttf");
}

.remoteinfo{
    font-family: NanumSquare_acR;
    font-size: 50;
    background-color: red;
}
.anotherbutton{
    border:0;
    background-color:rgb(251,188,181);
    border-radius:10px;
    margin-bottom:6px;
    width:60px;
    margin-left:23%;
    box-shadow:1px 1px 5px grey ;
    font-family: "NanumSquare_acR";
    text-align: center;
}
.anotherbutton:active{
    box-shadow:1px 1px 5px white;
}